@model Capstone.Models.PendingAppointment
@{
    ViewData["Title"] = "ChooseAppointmentTime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="ConfirmRequest">
    <input type="hidden" asp-for="PendingAppointmentId" />
    <input type="hidden" asp-for="FirstName" />
    <input type="hidden" asp-for="LastName" />
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Phone" />
    <input type="hidden" asp-for="StreetAddress" />
    <input type="hidden" asp-for="City" />
    <input type="hidden" asp-for="State" />
    <input type="hidden" asp-for="Zip" />
    <input type="hidden" asp-for="PianoMake" />
    <input type="hidden" asp-for="PianoConfiguration" />
    <input type="hidden" asp-for="Services" />
    <input type="hidden" asp-for="EstimatedDuration" />
    <input type="hidden" asp-for="CustomerNotes" />
    <input type="hidden" asp-for="EstimatedCost" />
    <input type="hidden" asp-for="Latitude" />
    <input type="hidden" asp-for="Longitude" />
    <input type="hidden" asp-for="PreferredAppointmentDate" />
    <input type="hidden" asp-for="ServiceEnd" />

    <div class="row">
        <div class="col-md-6">
            <h3>Confirm appointment details:</h3><br />
            <p><strong>Name:</strong> @Model.FirstName @Model.LastName</p>
            <p><strong>Email:</strong> @Model.Email</p>
            <p><strong>Phone:</strong> @Model.Phone</p>
            <div><strong>Address:</strong></div>
            <div>@Model.StreetAddress</div>
            <div>@Model.City, @Model.State  @Model.Zip</div><br />
            <p><strong>Piano:</strong> @Model.PianoMake @Model.PianoConfiguration</p>
            <p><strong>Included Services:</strong> @Model.Services</p>
            <p><strong>Estimated Duration:</strong> @Model.EstimatedDuration min.</p>
            <p><strong>Estimated Cost:</strong> @Model.EstimatedCost.ToString("C")</p>
            <p><strong>Notes:</strong> @Model.CustomerNotes</p>
        </div>
        <div class="col-md-6">
            <div id="map" style="height: 400px; width: auto;"></div>
            <p class="text-danger small">Please confirm the accuracy of this map before submitting appointment request.</p>
            <p><strong>Available Appointments:</strong></p>
            @foreach (var item in ViewBag.availableAppointments)
            {
                <input asp-for="ServiceStart" value="@item" type="radio">@item.ToString("ddd, MMM dd h:mm tt")<br />
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Submit Service Request" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@*<script src="https://maps.googleapis.com/maps/api/js?key=@AuthenticationInfo.googleApiKey&callback=initMap&libraries=&v=weekly"defer></script>*@
<script>
    let map;
    function initMap() {
        const customerAddress = { lat: @Model.Latitude, lng: @Model.Longitude };
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: customerAddress,
        });
        new google.maps.Marker({
            position: customerAddress,
            map: map,
        });
    }
</script>
