@model Capstone.ViewModels.CreateNewRuleSetViewModel

@{
    ViewData["Title"] = "CreateRuleSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Rule Set</h1>

<h4>Rule Set</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRuleSet">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="RuleSetId" />

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Default" /> @Html.DisplayNameFor(model => model.Default)
                </label>
            </div>
            <div class="form-check">
                @if (Model.Days == null)
                {
                    @foreach (var day in DaysOfWeek.Days)
                    {
                        <input name="Days" type="checkbox" value="@day.Name" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            @day.Name
                        </label>
                        <br />
                    }
                }
                else
                {
                    @foreach (var day in DaysOfWeek.Days)
                    {
                        @if (Model.Days.Contains(day.Value))
                        {
                            <input checked name="Days" type="checkbox" value="@day.Name" id="defaultCheck1">
                        }
                        else
                        {
                            <input name="Days" type="checkbox" value="@day.Name" id="defaultCheck1">
                        }
                        <label class="form-check-label" for="defaultCheck1">
                            @day.Name
                        </label>
                        <br />
                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group" id="defaultTimes">
                <label asp-for="DefaultTimes" class="control-label"></label>
                @if (Model.DefaultTimes != null)
                {
                    @foreach (var time in Model.DefaultTimes)
                    {
                        <input name="DefaultTimes" value="@time.TimeOfDay" type="time" class="form-control" />
                    }
                }
                @if (Model.DefaultTimes == null)
                {
                    <input name="DefaultTimes" type="time" class="form-control" />
                }
                <span asp-validation-for="DefaultTimes" class="text-danger"></span>
            </div>
            <button class="btn-secondary" onclick="addTime(event)">Add Time</button><br />
            <div class="form-group">
                <input type="submit" value="Create/Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
