@{
    ViewData["Title"] = "Admin Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-6">
        <h4>Completed Appointments:</h4>
        @if (ViewBag.completedAppointments.Count == 0)
        {
            <p>You have no completed appointments to review.</p>
        }
        else
        {
            <div class="row">
                @foreach (var appointment in ViewBag.completedAppointments)
                {
                    <div class="col-lg-8">
                        <p>@appointment.Piano.Client.FirstName @appointment.Piano.Client.LastName (@appointment.Piano.Make @appointment.Piano.Configuration) - @appointment.ServiceStart</p>
                    </div>
                    <div class="col-lg-4">
                        <a asp-action="CompleteAppointment" asp-route-id="@appointment.AppointmentId">Complete Appointment</a> |
                        <a asp-action="EditAppointment" asp-route-id="@appointment.AppointmentId">View/Edit</a>
                    </div>
                }
            </div>
        }
        <br />
        <h5>Pending Appointments:</h5>
        @if (ViewBag.pendingAppointments.Count == 0)
        {
            <p>You have no pending appointments to review.</p>
        }
        else
        {
            <table>
                <tbody>
                    @foreach (var appointment in ViewBag.pendingAppointments)
                    {
                        <tr>
                            <td>
                                @appointment.FirstName @appointment.LastName
                            </td>
                            <td>
                                @appointment.PianoMake @appointment.PianoConfiguration
                            </td>
                            <td>
                                @appointment.Services
                            </td>
                            <td>
                                <a asp-action="PendingAppointmentDetails" asp-route-id="@appointment.PendingAppointmentId">Details/Confirm</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-lg-6">
        <h4>Today's Appointments:</h4>
        @if (ViewBag.todaysAppointments.Count == 0)
        {
            <p>You have no appointments scheduled for today.</p>
        }
        else
        {
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mapsModal">View Map</button>
            <br />
            <table>
                <tbody>
                    @foreach (var appointment in ViewBag.todaysAppointments)
                    {
                        <tr>
                            <td>
                                @appointment.Piano.Client.FirstName @appointment.Piano.Client.LastName
                            </td>
                            <td>
                                @appointment.Piano.Make @appointment.Piano.Configuration
                            </td>
                            <td>
                                @*Need formatting here*@
                                @appointment.ServiceStart.TimeOfDay
                            </td>
                            <td>
                                <a asp-action="EditAppointment" asp-route-id="@appointment.AppointmentId">View/Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <br />
        <h5>7 Day Appointment Outlook:</h5>
        @if (ViewBag.nextSevenDaysAppointments.Count == 0)
        {
            <p>You have no appointments scheduled for the next week.</p>
        }
        else
        {
            <table>
                <tbody>
                    @foreach (var appointment in ViewBag.nextSevenDaysAppointments)
                    {
                        <tr>
                            <td>
                                @appointment.Piano.Client.FirstName @appointment.Piano.Client.LastName
                            </td>
                            <td>
                                @appointment.Piano.Make @appointment.Piano.Configuration
                            </td>
                            <td>
                                @*Need formatting here*@
                                @appointment.ServiceStart.TimeOfDay
                            </td>
                            <td>
                                <a asp-action="EditAppointment" asp-route-id="@appointment.AppointmentId">View/Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mapsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Today's Appointment Locations</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="location-map">
                            <div style="width: 600px; height: 400px; margin: auto" id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    let addresses = [];
</script>
@foreach (var appointment in ViewBag.todaysAppointments)
{
    <script>
        addresses.push([@appointment.Latitude, @appointment.Longitude]);
    </script>
}
<script>
    if (addresses.length > 0) {
        function initMap() {
            var bounds = new google.maps.LatLngBounds();
            var map = new google.maps.Map(document.getElementById("map"), {
            });
            for (var i = 0; i < addresses.length; i++) {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(addresses[i][0], addresses[i][1]),
                    map: map
                });
                bounds.extend(marker.position);
            }
            map.fitBounds(bounds);
        }
    }
</script>
