@model IEnumerable<Capstone.Models.PendingAppointment>

@{
    ViewData["Title"] = "Pending Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        @if (ViewBag.completedAppointments == null)
        {
            <p>You have no completed appointments to review.</p>
        }
        else
        {
            <div class="row">
                <h4>Completed Appointments:</h4><br />
                @foreach (var appointment in ViewBag.completedAppointments)
                {
                    <div class="col-lg-8">
                        <p>@appointment.Piano.Client.FirstName @appointment.Piano.Client.LastName (@appointment.Piano.Make @appointment.Piano.Configuration) - @appointment.ServiceStart</p>
                    </div>
                    <div class="col-lg-4">
                        <a asp-action="CompleteAppointment" asp-route-id="@appointment.AppointmentId">Complete Appointment</a> |
                        <a asp-action="EditAppointment" asp-route-id="@appointment.AppointmentId">View/Edit</a>
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-lg-6">
        <h4>Pending Appointments:</h4><br />
        <table>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PianoMake) @Html.DisplayFor(modelItem => item.PianoConfiguration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Services)
                    </td>
                    <td>
                        <a asp-action="PendingAppointmentDetails" asp-route-id="@item.PendingAppointmentId">Details/Confirm</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <h5>Today's Appointments:</h5>
        @if (ViewBag.todaysAppointments == null)
        {
            <p>You have no appointments schedule for today.</p>
        }
        else
        {
            <table>
                <tbody>
                    @foreach (var appointment in ViewBag.todaysAppointments)
                    {
                        <tr>
                            <td>
                                @appointment.Piano.Client.FirstName @appointment.Piano.Client.LastName
                            </td>
                            <td>
                                @appointment.Piano.Make @appointment.Piano.Configuration
                            </td>
                            <td>
                                @*Need formatting here*@
                                @appointment.ServiceStart.TimeOfDay
                            </td>
                            <td>
                                <a asp-action="EditAppointment" asp-route-id="@appointment.AppointmentId">View/Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <br /><br />
        <h5>7 Day Appointment Outlook:</h5>
        @if (ViewBag.nextSevenDaysAppointments == null)
        {
            <p>You have no appointments scheduled for the next week.</p>
        }
        else
        {
            <table>
                <tbody>
                    @foreach (var appointment in ViewBag.nextSevenDaysAppointments)
                    {
                        <tr>
                            <td>
                                @appointment.Piano.Client.FirstName @appointment.Piano.Client.LastName
                            </td>
                            <td>
                                @appointment.Piano.Make @appointment.Piano.Configuration
                            </td>
                            <td>
                                @*Need formatting here*@
                                @appointment.ServiceStart.TimeOfDay
                            </td>
                            <td>
                                <a asp-action="EditAppointment" asp-route-id="@appointment.AppointmentId">View/Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
