@model IEnumerable<Capstone.Models.Appointment>

@{
    ViewData["Title"] = "PastAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Service History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Client
            </th>
            <th>
                Date of Service
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Piano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicianNotes)
            </th>
            <th>
                Final Cost
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Piano.Client.FirstName)
                @Html.DisplayFor(modelItem => item.Piano.Client.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceStart.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piano.Make) 
                @if (item.Piano.Model != null)
                {
                    @Html.DisplayFor(modelItem => item.Piano.Model)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Piano.Configuration) 
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Services)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedCost)
            </td>
            <td>
                <a asp-action="EditAppointment" asp-route-id="@item.AppointmentId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
