@model IEnumerable<Capstone.Models.RuleSet>

@{
    ViewData["Title"] = "ViewRuleSets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewRuleSets</h1>

<p>
    <a asp-action="EditRuleSet">Create New Rule Set</a>
</p>
@if(Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Default)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Default)
                    </td>
                    <td>
                        <a asp-action="EditRuleSet" asp-route-id="@item.RuleSetId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.RuleSetId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
